<style>
#chart svg {
  height: 400px;
}
</style>

<div id="chart">
  <svg></svg>
</div>

<%= link_to "Add transaction", new_expense_path, class: "btn btn-success btn-lg btn-block", style: "margin-bottom: 20px;" %>

<table class="table table-striped">
  <colgroup>
    <col>
  </colgroup>

  <tr class="title" >
    <th style="text-align:center;">Date</th>
    <th style="text-align:right;">Amount</th>
    <th class="hidden-xs">Category</th>
    <th>Description</th>
    <th class="hidden-xs">Transaction type</th>
    <th class="hidden-xs">Payment method</th>
    <th style="text-align:center;">Delete</th>
  </tr>

  <% @expenses.each do |e| %>
    <tr data-toggle="popover" data-placement="top" title="Description" data-content="<%= e.description %>">
      <td align="center"><%= e.date.strftime("%b/%e") %></td>
      <td align="right"><%= number_to_currency(e.amount) %></td>
      <td class="hidden-xs"><%= e.category %></td>
      <td ><%= truncate(e.description, length: 20) %></td>
      <td class="hidden-xs"><%= e.transaction_type %></td>
      <td class="hidden-xs"><%= e.payment_method %></td>
      <td align="center"><%= link_to expense_path(e), method: :delete, data: { confirm: "Are you sure?"} do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
    </tr>
  <% end %>
</table>

<style>
  tr:hover td { background-color:#ADD8E6 }
</style>

<script type="text/javascript">
$(document).ready(function(){
  //trigger popover
  $('[data-toggle="popover"]').popover();   
  //trigger close on all popover if click outside
  $('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
      //the 'is' for buttons that trigger popups
      //the 'has' for icons within a button that triggers a popup
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        $(this).popover('hide');
      }
    });
  }); 
});
</script>