<% @expenses.each do |e| %>
  <tr data-toggle="popover" data-placement="top" title="Description" data-content="<%= e.description %>">
    <td align="center"><%= e.date.strftime("%b/%e") %></td>
    <td align="right"><%= number_to_currency(e.amount) %></td>
    <td class="hidden-xs"><%= e.category %></td>
    <td ><%= truncate(e.description, length: 20) %></td>
    <td class="hidden-xs"><%= e.transaction_type %></td>
    <td class="hidden-xs"><%= e.payment_method %></td>
    <td align="center"><%= link_to expense_path(e), method: :delete, data: { confirm: "Are you sure?"} do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
  </tr>
<% end %>