<div id="chart">
  <svg></svg>
</div>
<%= form_tag '/expenses', method: :get do%>
  <%= label_tag "start date" %> <%= date_field_tag 'start_date' %>
  <%= label_tag "end date" %> <%= date_field_tag 'end_date' %>
  <%= submit_tag "update" %>
<% end %>

<%= link_to "Add transaction", new_expense_path, class: "btn btn-success btn-lg btn-block", style: "margin-bottom: 20px;" %>

<table class="table table-striped">
  <thead>
    <tr class="title" >
      <th style="text-align:center;">Date</th>
      <th style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;Amount</th>
      <th class="hidden-xs">Category</th>
      <th>Description</th>
      <th class="hidden-xs">Transaction type</th>
      <th class="hidden-xs">Payment method</th>
      <th style="text-align:center;">Edit</th>
      <th style="text-align:center;">Delete</th>
    </tr>
  </thead>
  <tbody id="transactions">
    <%= render partial: "expenses", object: @expenses %>
  </tbody>
</table>

<div id="ajax-loading">
  <div id="dummy"></div>
  <div id="img-container">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
</div>

<div class="hidden-xs" id="infinite-scrolling">
  <%= will_paginate %>
</div>